body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f3f3f3;
}

header {
    background: #4b6cb7;
    background: linear-gradient(to right, #182848, #4b6cb7);
    color: white;
    padding: 25px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 28px;
}

.add-note, .notes-section {
    padding: 20px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

textarea {
    resize: none;
    height: 80px;
}

button {
    width: 100%;
    margin-top: 15px;
    padding: 12px;
    background: #182848;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #4b6cb7;
}

/* Cada apunte */
.note {
    background: white;
    padding: 15px;
    margin-top: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.note h3 {
    margin: 0;
}

.note a {
    display: inline-block;
    margin-top: 10px;
    color: #4b6cb7;
    text-decoration: none;
}

.note a:hover {
    text-decoration: underline;
}
