body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #121212;
    color: #eaeaea;
}

header {
    text-align: center;
    padding: 25px 10px;
    background: #1f1f1f;
    border-bottom: 2px solid #444;
}

h1 {
    margin: 0;
    font-size: 32px;
}

main {
    padding: 20px;
    max-width: 500px;
    margin: auto;
}

.selector, .form {
    margin-bottom: 25px;
    background: #1f1f1f;
    padding: 15px;
    border-radius: 10px;
}

label {
    display: block;
    margin-bottom: 10px;
}

select, input {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border-radius: 8px;
    border: none;
    background: #292929;
    color: white;
}

button {
    width: 100%;
    padding: 12px;
    background: #ff3c3c;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background: #ff5555;
}

#historyList {
    list-style: none;
    padding: 0;
}

#historyList li {
    background: #1f1f1f;
    margin-bottom: 10px;
    padding: 12px;
    border-radius: 8px;
    border-left: 4px solid #ff3c3c;
}
